body {
	width: 100vw;
}

#root {
	display: flex;
	gap: 1rem;
	width: 80vw;
	margin: 0 auto;
	>* {
		margin: 1rem;
		flex: 1;
	}
}

@media screen and (min-width: 1500px) {
	#root {
		> * {
			max-width: none	;
			display: flex;
			flex-direction: column;
			input {
				height: auto;
				width: auto;
			}
			img {
				width: calc(1rem + 0.5vw);
			}
			* {
				font-size: calc(1rem + 0.5vw);
			}
		}
		.eduExp {
			flex: none;
		}
	}
}